* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	width: 100%;
	background-color: #7F0011;
}

.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 25px;
}

.row {
	width: 100%;
	padding: 0;
	margin: 0;
	}

.centered {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Pacifico', cursive;
	text-transform: uppercase;
	color: white;
	font-size: 80px;
	letter-spacing: 5px;

}

#heading-img {
	width: 100%;
	height: 500px;
	padding-bottom: 30px;
	filter: brightness(55%);

}

.container {
	width: 100%;
}

img {
	width: 100%;
	height: 400px;
}

.cln {
	padding: 0;
}

.row2 {
	width: 100%;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.card-img-top {
	height: 300px;
	width: 100%;
	border-radius: 15px;
}

.card {
	border-radius: 15px;
}

h4 {
	text-align: center;
	font-family: 'Pacifico', cursive;
}

p {
	font-family: 'Courgette', cursive;
	font-size: 15px;
	text-align: justify;
}

.navbar {
	background-color: #19443A;
}

#picture {
	padding-bottom: 20px;
}

.footer {
	background-color: #19443A;
	color: white;
}

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

@media only screen and (max-width: 400px) {
	.centered {
		font-size: 40px;
	}
}

@media only screen and (min-width: 451px) and (max-width: 768px)
{
	.centered {
		font-size: 50px;
	}
}